@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Учетная запись</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
        <dt>Внешние имена входа:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Управление", "ManageLogins") ]
        </dd>
        <dt>E-mail:</dt>
        <dd>
            @Model.Email [
            @Html.ActionLink("Email", "ManageLogins") ]
        </dd>
    </dl>
</div>

<div>
    <h4>Locations list</h4>
    @using (Html.BeginForm("Create", "Location", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" class="btn btn-default" value="Create Location" />
            </div>
        </div>
    }
</div>
<div>
    @for (int i = 0; i < Model.Locations.Count; i++)
    {
        <h5> Объект @(i+1)</h5>
        <ul>
            <li> @Model.Locations[i].Title</li>
            <li>@Model.Locations[i].SecondTitle</li>
            <li>@Model.Locations[i].Customer</li>
        </ul>
    }
</div>
<div>
    <h4>Locations list</h4>
</div>
